@media (max-width: 700px) {
  .div-logo {
    display: none;
  }

  .header {
    background-color: rgba(0,0,0,0);
  }
  
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu li {
    position: relative;
    padding-top: 10px;
    margin: 0 auto;
  }
  .main {
    width: 454px;
    height: 144px;
    position: relative;
    top: 360px;
    left: 100px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .main h1 {
    color: black;
  }

  .btn {
    position: absolute;
    top: 557px;
    left: 100px;
  }
}
